#myHeader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
#myHeader .header-devtd {
  width: 100%;
  height: auto;
  background: #1d81cf;
  position: fixed;
  top: 0;
  left: 0;
}
#myHeader .header-devtd .header1 {
  width: 100%;
  height: 1rem;
  padding: 0 .27rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#myHeader .header-devtd .header1 .header1-left {
  width: 5.2rem;
  height: .56rem;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: #1873b9;
}
#myHeader .header-devtd .header1 .header1-left input {
  background: none;
  border: none;
  outline: none;
  padding-left: 10px;
}
#myHeader .header-devtd .header1 .header1-left input::-webkit-input-placeholder {
  color: white;
}
#myHeader .header-devtd .header1 .header1-right span {
  font-size: .5rem;
}
#myHeader .header2 {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .27rem;
  background: none;
  color: white;
  opacity: 0;
}
#myHeader .header2 div span {
  font-size: .5rem;
  margin-right: .7rem;
}
#myHeader .header2 span {
  font-size: .5rem;
}
#myHeader .header-menu {
  width: 100%;
  height: 1.6rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#myHeader .header-menu .menu-cont {
  width: 100%;
  padding: 0 .34rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
#myHeader .header-menu .menu-cont dl {
  text-align: center;
}
#myHeader .header-menu .menu-cont dl dt {
  font-size: .7rem;
}
#myHeader .header-menu .menu-cont dl dd {
  font-size: .32rem;
}
#myHeader .containor {
  padding-top: 2.6rem;
}
